@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
   display: flex;
    width: 100%;
    height: 100vh;
    color: white;
}

.container .sidenav {
    width: 115px;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    padding: 32px 16px;
    background-color: #3d3c3c;
    transition: width 0.6s;
}

label .close-btn{
    display: none;
}

.sidenav .logo h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.sidenav .search_bar {
    margin-top: 32px;
    position: relative;
}

.sidenav .search_bar i {
    position: absolute;
    color: #000;
    font-size: 24px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.sidenav .search_bar input {
    width: calc(100% - 40px);
    padding: 11px;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 15px;
}

.sidenav .menu_text {
    margin-top: 24px;
}

.sidenav .menu_text p {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 10px;
}

.sidenav .icon_items ul {
    list-style: none;
    margin-top: 32px;
    padding: 0 10px;
}

.sidenav .icon_items ul li {
    cursor: pointer;
    margin: 4px;
    padding: 12px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background 0.5s ease;
}

.sidenav .icon_items ul li:hover,
.sidenav .icon_items ul li.active {
    background: #119aaf;
}

.sidenav .icon_items ul li i {
    font-size: 26px;
    padding: 0 12px;
}

.sidenav .icon_items ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding-left: 18px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#click {
    display: none;
}

label {
    position: absolute;
    left: 3%;
    top: 1.5%;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}

#click:checked ~ .sidenav {
    width: 260px;
}

#click:checked ~ .sidenav .icon_items ul li a {
    opacity: 1;
    pointer-events: auto;
}

#click:checked ~ .sidenav .logo h2 {
    opacity: 1;
    pointer-events: auto;
}

#click:checked ~ .sidenav .search_bar input {
    width: 100%;
    margin-left: 0;
}

#click:checked ~ .sidenav .search_bar i {
    left: 20px;
}

#click:checked ~ label {
    left: 1%;
}

#click:checked ~ label .close-btn {
    display: block;
}

#click:checked ~ label .menu-btn {
    display: none;
}

.content {
    margin-left: 115px;
    padding: 20px;
    flex: 1;
    transition: margin-left 0.6s;
    display: flex;
    justify-content: center;
    height: 100vh;
   
}

#click:checked ~ .content {
    margin-left: 260px;
}

.form-container {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.imgDiv {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.upload-icon {
    width: 70px;
    height: 35px;
    margin-top: 10px;
}


.decorated-title {
    margin-left: 65px;
    color: rgb(52, 52, 56); 
    font-size: 1.3em; 
    font-weight: bold; 
    text-align: center; 
    letter-spacing: 2px; 

    padding: 10px 0; 

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.149); 
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .file-upload-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        input[type="file"] {
            display: none;
        }
    }
    .image-preview {
        margin-top: 10px;
        margin-left: 100px;

        .circle-image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;

            .preview-image {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

}

nz-form-item {
    margin-bottom: 20px;
}

.login-form-button {
    width: 100%;
}






