<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Navigation Menu</title>

    <!-- Icon Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
</head>
<body>
    <div class="container">

        <input type="checkbox" id="click">
        <label for="click">
            <i class='menu-btn bx bx-menu'></i>
            <i class='close-btn bx bx-x-circle'></i>
        </label>

        <div class="sidenav">
            <div class="logo">
                <h2>Booking</h2>
            </div>

            <div class="search_bar">
                <form action="#">
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Search...">
                </form>
            </div>

            <div class="menu_text">
                <p>Menu</p>
            </div>

            <div class="icon_items">
                <ul>
                    <li (click)="goToDashboard()">
                        <i class='bx bxs-star'></i> 
                        <a>Reviews</a>
                    </li>
                    <li (click)="goToUser()">
                        <i class='bx bxs-user-circle'></i>
                        <a>User</a>
                    </li>
                    <li (click)="goToAccomodation()">
                        <i class='bx bxs-shopping-bag'></i>
                        <a>Accomodation</a>
                    </li>
                    <li (click)="goToAddHost()">
                        <i class='bx bx-plus bigger-plus'></i>
                        <a>Add host</a>
                    </li>
                    <li class="active" (click)="goToMessage()">
                        <i class='bx bxs-message-dots'></i>
                        <a>Message</a>
                    </li>
                    <li (click)="goToBookings()">
                        <i class='bx bxs-hotel'></i>
                        <a>Bookings</a>
                    </li>
                    <li>
                        <i class='bx bxs-group' ></i>
                        <a href="#">Group</a>
                    </li>
                    <li>
                        <i class='bx bxs-help-circle' ></i>
                        <a href="#">Help</a>
                    </li>
                    <li (click)="goToLogout()">
                        <i class='bx bx-log-in'></i>
                        <a>Logout</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content my-5" *ngIf="contact">
            <div class="message-card shadow p-4 rounded">
                <h4 class="text-center text-primary mb-4">Message Details</h4>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>
                                    <h5><b>Name:</b> {{ contact.name }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><b>Email:</b> {{ contact.email }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><b>Subject:</b> {{ contact.subject }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><b>Message:</b> {{ contact.message }}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <form [formGroup]="validateForm">
                <div class="form-group">
                    <textarea class="form-control" rows="4" formControlName="response" placeholder="Type your response here..."></textarea>
                </div>
                <br><br>
                <div class="text-center">
                    <button class="btn btn-primary" routerLink="/admin/message" (click)="AddResponse(validateForm.value)">Send Response</button>
                </div>
            </form>
            </div>
        </div>

        

    </div>
</body>
</html>

