<nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html"><span class="tooplate-red">Boo</span><span class="tooplate-green">king</span></a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mr-5">
                    <a class="nav-link click-scroll" routerLink="">Home</a>
                </li>
  
                <li class="nav-item mr-5">
                    <a class="nav-link click-scroll" href="">About</a>
                </li>
  
                <li class="nav-item mr-5">
                    <a class="nav-link click-scroll" href="">Reviews</a>
                </li>
  
                <li class="nav-item mr-5">
                    <a class="nav-link click-scroll" href="">Contact</a>
                </li>
                <li class="nav-item mr-5">
                  <a class="nav-link click-scroll" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item mr-5">
                  <a class="nav-link click-scroll" routerLink="/register" routerLinkActive="active">Register</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
