<section class="shop-section section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <small class="section-small-title">Book now !</small>

                <h2 class="mt-2 mb-4"><span class="tooplate-red">Explore</span> accommodations</h2>
            </div>

            <div class="col-lg-6 col-12">
                <div class="shop-thumb">
                    <div class="shop-image-wrap">
                        <a href="shop-detail.html">
                            <img src="assets/images/BookingImages/Suite/Suite1.jpg" class="shop-image img-fluid" alt="">
                        </a>

                        <div class="shop-icons-wrap">
                            <div class="shop-icons d-flex flex-column align-items-center">
                                <a href="#" class="shop-icon bi-heart"></a>

                                <a href="#" class="shop-icon bi-bookmark"></a>
                            </div>

                            <p class="shop-pricing mb-0 mt-3">
                                <span class="badge custom-badge">$3,600</span>
                            </p>
                        </div>

                        <div class="shop-btn-wrap">
                            <a href="shop-detail.html" class="shop-btn custom-btn btn d-flex align-items-center align-items-center">Learn more</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="shop-thumb">
                    <div class="shop-image-wrap">
                        <a href="shop-detail.html">
                            <img src="assets/images/BookingImages/Suite/Suite2.jpg" class="shop-image img-fluid" alt="">
                        </a>

                        <div class="shop-icons-wrap">
                            <div class="shop-icons d-flex flex-column align-items-center">
                                <a href="#" class="shop-icon bi-heart"></a>

                                <a href="#" class="shop-icon bi-bookmark"></a>
                            </div>

                            <p class="shop-pricing mb-0 mt-3">
                                <span class="badge custom-badge">$6,400</span>
                            </p>
                        </div>

                        <div class="shop-btn-wrap">
                            <a href="shop-detail.html" class="shop-btn custom-btn btn d-flex align-items-center align-items-center">Learn more</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="shop-thumb">
                    <div class="shop-image-wrap">
                        <a href="shop-detail.html">
                            <img src="assets/images/BookingImages/Suite/Suite4.jpg" class="shop-image img-fluid" alt="">
                        </a>

                        <div class="shop-icons-wrap">
                            <div class="shop-icons d-flex flex-column align-items-center">
                                <a href="#" class="shop-icon bi-heart"></a>

                                <a href="#" class="shop-icon bi-bookmark"></a>
                            </div>

                            <p class="shop-pricing mb-0 mt-3">
                                <span class="badge custom-badge">$2,400</span>
                            </p>
                        </div>

                        <div class="shop-btn-wrap">
                            <a href="shop-detail.html" class="shop-btn custom-btn btn d-flex align-items-center align-items-center">Learn more</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="shop-thumb">
                    <div class="shop-image-wrap">
                        <a href="shop-detail.html">
                            <img src="assets/images/BookingImages/CabineChalet/cabineChalet3.jpg" class="shop-image img-fluid" alt="">
                        </a>

                        <div class="shop-icons-wrap">
                            <div class="shop-icons d-flex flex-column align-items-center">
                                <a href="#" class="shop-icon bi-heart"></a>

                                <a href="#" class="shop-icon bi-bookmark"></a>
                            </div>

                            <p class="shop-pricing mb-0 mt-3">
                                <span class="badge custom-badge">$3,800</span>
                            </p>
                        </div>

                        <div class="shop-btn-wrap">
                            <a href="shop-detail.html" class="shop-btn custom-btn btn d-flex align-items-center align-items-center">Learn more</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="shop-thumb">
                    <div class="shop-image-wrap">
                        <a href="shop-detail.html">
                            <img src="assets/images/BookingImages/CabineChalet/cabineChalet1.jpg" class="shop-image img-fluid" alt="">
                        </a>

                        <div class="shop-icons-wrap">
                            <div class="shop-icons d-flex flex-column align-items-center">
                                <a href="#" class="shop-icon bi-heart"></a>

                                <a href="#" class="shop-icon bi-bookmark"></a>
                            </div>

                            <p class="shop-pricing mb-0 mt-3">
                                <span class="badge custom-badge">$850</span>
                            </p>
                        </div>

                        <div class="shop-btn-wrap">
                            <a href="shop-detail.html" class="shop-btn custom-btn btn d-flex align-items-center align-items-center">Learn more</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</section>
