<section class="hero-section hero-slide d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 text-center mx-auto">
                <div class="hero-section-text">
                    <small class="section-small-title">Find your next stay <i class="hero-icon bi-house"></i></small>

                    <h1 class="hero-title text-white mt-2 mb-4">Search for deals on hotels, independent accommodations, and more</h1>

                    <form class="custom-form hero-form" action="#" method="get" role="form">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-12">
                                <div class="input-group align-items-center">
                                    <label for="product-name">Type</label>

                                    <input type="text" name="product-name" id="product-name" class="form-control" placeholder="Suite ..." required>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-6 col-12">
                                <div class="input-group align-items-center">
                                    <label for="last-name">Price</label>

                                    <input type="number" name="product-name" id="product-name" class="form-control" placeholder="$500..." required>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-12">
                                <button type="submit" class="form-control">Search</button>
                            </div>
                        </div>
                    </form>

                    <div class="hero-btn d-flex justify-content-center align-items-center">
                        <a class="bi-arrow-down hero-btn-link smoothscroll" href="#section_2"></a>
                    </div> 
                </div>
            </div>

        </div>
    </div>
</section>

